<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie From</title>
</head>
<body>
    <h4>Movie Form</h4>
    <form action="#" th:action="@{/movie}" th:object="${movie}" method="post">
        <div>
            <input type="text" th:field="*{name}" placeholder="Name"/>
        </div>
        <div>
            <input type="text" th:field="*{director}" placeholder="Director"/>
        </div>
        <div>
            <input type="date" th:field="*{date}"/>
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</body>
</html>